<div [formGroup]="confirmPasswordFields">
    <div [class.has-error]="hasError('newPassword')"
         class="form-group">

        <label class="control-label" for="new-password">New password</label>

        <input formControlName="newPassword"
               class="form-control"
               id="new-password"
               type="password">

        <span *ngIf="hasError('newPassword'); else emptyRowTemplate"
              class="help-block">
                {{getValidationMessage('newPassword')}}
        </span>
    </div>

    <div [class.has-error]="hasError('confirmedPassword')"
         class="form-group">

        <label class="control-label" for="confirm-new-password">Confirm new password</label>
        <input formControlName="confirmedPassword"
               class="form-control"
               id="confirm-new-password"
               type="password">
        <span *ngIf="hasError('confirmedPassword'); else emptyRowTemplate"
              class="help-block">
                {{getValidationMessage('confirmedPassword')}}
        </span>
    </div>
</div>

<ng-template #emptyRowTemplate>&nbsp;</ng-template>
