<div>
    <tree-root [focused]="true" [nodes]="venues" [options]="options">
        <ng-template class="node-template" #treeNodeTemplate let-node let-index="index">
            <div class="single-node">
                <div *ngIf="!isCurrentNode(node)" class="node-info">
                    <div class="node-name">{{ node.data.name }}</div>

                    <div *ngIf="hasContentInfo(node); else contentPlaceholder" class="content-info">
                        <span class="content-short-name">{{ getContentShortName(node) }}</span>
                        <span class="content-url">{{ getContentUrl(node) }}</span>
                    </div>
                    <ng-template #contentPlaceholder>
                        <div class="content-url-placeholder">{{contentUrlPlaceholder}}</div>
                    </ng-template>
                </div>

                <div *ngIf="isCurrentNode(node)" class="edit-node-form">

                    <div class="inputs-container">
                        <input type="text"
                               [(ngModel)]="currentNode.name"
                               (ngModelChange)="validateForm(node)"
                               class="form-control node-name">

                        <div class="dropdown-container">
                            <dropdown
                                    [defaultValue]="contentUrlPlaceholder"
                                    [items]="content"
                                    (select)="setNodeContent($event)">
                            </dropdown>
                        </div>
                    </div>

                    <div class="buttons-container">
                        <button type="button"
                                class="btn btn-success"
                                [disabled]="!isFormValid"
                                (click)="performSubmit(node)">
                            Save
                        </button>

                        <button type="button"
                                class="btn btn-link cancel-button"
                                (click)="performCancel(node)">
                            Cancel
                        </button>
                    </div>
                </div>

                <div *ngIf="isAllowToAddChild(node)" class="plus-button" (click)="addNewNode($event, node)"></div>
            </div>
        </ng-template>
    </tree-root>
</div>
