.single-node
  height: 65px
  min-width: 400px

  .node-name
    font-size: 18px
    margin: 10px 0

  .content-info
    font-size: 16px

    .content-short-name
      margin-right: 15px

    .content-url
      color: gray

  .content-url-placeholder
    font-size: 16px
    color: gray
    font-style: italic

  .add-node
    display: none
