.change-password-wrapper
  max-width: 300px
  margin: auto

  /deep/form
    [type="submit"]
      margin-top: 20px
      font-weight: bold

    .option-button-container
      text-align: center
      margin-top: 8px