<div class="change-password-wrapper">
    <form>
        <div>
            <label for="current-password">Current password</label>
            <input [(ngModel)]="user.password"
                   class="form-control"
                   #currentPassword="ngModel"
                   id="current-password"
                   name="current-password"
                   type="password"
                   required
                   input-autofocus>
            <span *ngIf="currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)"
                  class="error-message">
                    {{getValidationMessage(currentPassword)}}
                </span>
        </div>

        <div>
            <label for="new-password">New password</label>
            <input [(ngModel)]="user.newPassword"
                   (focusout)="validatePassword(newPassword)"
                   class="form-control"
                   #newPassword="ngModel"
                   id="new-password"
                   name="new-password"
                   type="password"
                   required>
            <span *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)"
                  class="error-message">
                    {{getValidationMessage(newPassword)}}
                </span>
        </div>

        <div>
            <label for="confirm-new-password">Confirm new password</label>
            <input [(ngModel)]="confirmedPassword"
                   (focusout)="validatePassword(confirmedNewPassword)"
                   class="form-control"
                   #confirmedNewPassword="ngModel"
                   id="confirm-new-password"
                   name="confirm-new-password"
                   type="password"
                   required>
            <span *ngIf="confirmedNewPassword.invalid && (confirmedNewPassword.dirty || confirmedNewPassword.touched)"
                  class="error-message">
                    {{getValidationMessage(confirmedNewPassword)}}
                </span>
        </div>

        <div class="control-buttons">
            <button type="button"
                    class="btn btn-link"
                    (click)="performCancel()">
                Cancel
            </button>

            <button type="submit"
                    class="btn btn-success"
                    [disabled]="isModelsValid(currentPassword, newPassword, confirmedPassword)">
                Change
            </button>

        </div>
    </form>
</div>
