<div class="change-password-wrapper">

    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
        <div [class.has-error]="hasError('currentPassword')"
             class="form-group">

            <label class="control-label" for="current-password">Current password</label>

            <input formControlName="currentPassword"
                   class="form-control"
                   id="current-password"
                   type="password"
                   input-autofocus>

            <span *ngIf="hasError('currentPassword')"
                  class="help-block">
                {{getValidationMessage('currentPassword')}}
            </span>
        </div>

        <div [class.has-error]="hasError('newPassword')"
             class="form-group">

            <label class="control-label" for="new-password">New password</label>

            <input formControlName="newPassword"
                   class="form-control"
                   id="new-password"
                   type="password">

            <span *ngIf="hasError('newPassword')"
                  class="help-block">
                {{getValidationMessage('newPassword')}}
            </span>
        </div>

        <div [class.has-error]="hasError('confirmedPassword')"
             class="form-group">

            <label class="control-label" for="confirm-new-password">Confirm new password</label>
            <input formControlName="confirmedPassword"
                   class="form-control"
                   id="confirm-new-password"
                   type="password">
            <span *ngIf="hasError('confirmedPassword')"
                  class="help-block">
                {{getValidationMessage('confirmedPassword')}}
            </span>
        </div>

        <div class="control-buttons">
            <button type="button"
                    class="btn btn-link"
                    (click)="performCancel()">
                Cancel
            </button>

            <button type="submit"
                    class="btn btn-success submit-button"
                    [disabled]="formInvalid()">
                Change
            </button>

        </div>
    </form>
</div>
