@import "../../../styles/variables"

.setting-form-container
  width: 800px

  @media screen and (max-width: $tablet-resolution)
    width: 100%
    display: block

  .selected-setting-container
    padding-bottom: 20px
    min-height: 70px

    .setting-header
      display: inline-block
      padding: 4px 8px
      border: 1px solid transparent
      border-radius: 4px
      cursor: text

      &.editable:hover
        border-color: $border-color

      .setting-title
        font-size: 25px
        display: inline-block

    .tag-container
      display: inline-block

      /deep/ .tag
        font-size: 22px

  .create-setting-container
    .title
      font-size: 25px
      margin-bottom: 20px

  .disabled
    color: $gray-color