@import "../../../styles/variables"

.tag-container
  display: inline-block

  /deep/ .tag
    font-size: 22px

    @media screen and (max-width: $tablet-resolution)
      font-size: 18px

.setting-form-container
  width: 800px
  margin-top: 20px

  .selected-setting-container
    padding-bottom: 20px
    min-height: 70px

    .setting-header
      display: inline-block
      padding: 4px 8px
      border: 1px solid transparent
      border-radius: 4px
      cursor: text

      &.editable:hover
        border-color: $border-color

      .setting-title
        font-size: 25px
        display: inline-block

  .create-setting-container
    .title
      font-size: 25px
      margin-bottom: 20px

  .disabled
    color: $gray-color

@media screen and (max-width: $tablet-resolution)
  .setting-form-container
    width: 100%
    display: block
    margin-top: 0

    .selected-setting-container
      padding-bottom: 10px

      .setting-header
        .setting-title
          font-size: 18px
