@import "../../styles/variables"

.page-container
  margin-top: 80px
  font-size: 16px

  .maintenance-title
    font-size: 25px
    display: inline-block

    @media screen and (max-width: $tablet-resolution)
      font-size: 18px

  .info-message
    font-size: 17px
    font-style: italic
    color: $gray-color

    @media screen and (max-width: $tablet-resolution)
      font-size: 15px

  input
    font-size: $input-font-size
