<div class="page-container">
    <div class="venues-container">
        <div class="maintenance-header">
            <div class="maintenance-title">Auto-update maintenance</div>

            <div class="info-message">
                Config auto-update schedule or refresh screen!
            </div>
        </div>

        <maintenance-venues-tree-view
                [venues]="venuesTree"
                (autoUpdateScheduleChange)="updateScheduleConfiguration($event)"
                (updateApplications)="updateClientsApps($event)">
        </maintenance-venues-tree-view>
    </div>
</div>
