body
  margin: 0 15px

  .header
    padding: 0 0 20px 5px
    margin-bottom: 20px
    border-bottom: solid 1px #eee

    .page-title
      font-size: 25px
      display: inline-block

    .add-button
      display: inline-block
      float: right
      cursor: pointer

  .navbar-default
    margin: 0 -15px 20px -15px

  .toggle-children-wrapper
    height: 95px
    display: flex
    align-items: center
    padding-top: 5px !important

    .toggle-children
      height: 17px !important
      width: 17px !important
      background-image: url('assets/images/expand-arrow.png') !important

  .tree
    padding-bottom: 270px

    .node-content-wrapper
      padding: 5px 8px !important