#Kiosk
[ScreenDriver]
api.endpoint = http://localhost:3000

# AWS
AWS_REGION=
AWS_STAGE=
AWS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=

# Pusher
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=

#Hosts
API_HOST=
CLIENT_HOST_S3_BUCKET=

#For first user creation
FIRST_USER_EMAIL=
USER_POOL_ID=
