<div class="row item-row" [ngClass]="{'selected': isAddModeEnabled}">
    <div class="col-md-8 col-lg-8 col-sm-12">
        <div class="name" *ngIf="!isAddModeEnabled">
            {{content.short_name}}
        </div>

        <div *ngIf="isAddModeEnabled">
            <input type="text" class="form-control" [(ngModel)]="content.short_name" placeholder="Short name">
            <input type="url" class="form-control" [(ngModel)]="content.url" placeholder="Url">
        </div>
        <div class="url">
            {{content.url}}
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-xs-12 control-buttons">
        <div *ngIf="isAddModeEnabled">
            <button type="button" class="btn btn-success">Add</button>
            <button type="button" class="btn btn-link" (click)="closeForm()">Cancel</button>
        </div>
    </div>
</div>
