<div class="dropdown-container">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="dropdown-value">{{defaultValue}}</span>
            <div class="caret-wrapper">
                <span class="caret"></span>
            </div>
        </button>
        <ul class="dropdown-menu">
            <li *ngFor="let item of getItems()">
                <a (click)="selectItem(item)">
                    <div *ngIf="item.description" class="item-with-desc">
                        <div class="item-value">{{item.name}}</div>
                        <div class="item-desc">{{item.description}}</div>
                    </div>
                    <div *ngIf="!item.description">
                        <div class="item-value">{{item.name}}</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>