$dropdown-width: 190px
$dropdown-font-size: 16px

.dropdown
  font-size: 16px

  .dropdown-toggle
    width: $dropdown-width
    display: flex
    align-items: center

    .dropdown-value
      align-items: flex-start
      font-size: $dropdown-font-size

    .caret
      margin-left: auto

  .dropdown-menu
    width: $dropdown-width

    li a
      padding: 0 12px
      height: 40px
      line-height: 40px
      font-size: $dropdown-font-size