<div class="sidebar sidebar-left sidebar-animate sidebar-md-show" [class.active]="showSidebar">

    <div class="side-bar-title">Settings</div>

    <hr>

    <ul class="nav navbar-stacked">
        <li *ngFor="let config of configs" [class.active]="isActive(config)">
            <a (click)="onConfigSelected(config)">{{config.name}}
                <toggle-button class="switcher"
                               [enabled]="config.enabled"
                               (changed)="changeConfigState(config, $event)"
                               (click)="onToggleClick($event)">
                </toggle-button>
            </a>
        </li>
    </ul>

    <hr>

    <div class="form-container">
        <div *ngIf="!creationMode" class="create-btn-container">
            <button class="btn btn-link" (click)="enableCreationMode()">Create new setting</button>
        </div>

        <div *ngIf="creationMode">
            <configuration-creator
                    [settings]="configs"
                    (created)="handleConfigCreation()"
                    (cancel)="disableCreationMode()">
            </configuration-creator>
        </div>
    </div>
</div>