.sidebar
  font-size: 18px
  position: fixed
  display: block
  top: 51px
  bottom: 0
  z-index: 1000
  overflow: auto
  padding: 10px
  background-color: #f5f5f5
  border-right: 1px solid #e7e7e7
  width: 250px

  @media screen and (max-width: 1300px)
    display: none
    margin-left: -5px

  &.active
    display: block

  .side-bar-title
    padding: 10px 0 0 15px

  ul
    li
      cursor: pointer

      &.active
        background-color: #eee
    a
      display: flex
      align-items: center

      &.default-button
        font-weight: bold

      .switcher
        margin: 5px 0 0 auto
        display: inline-block

  .form-container
    margin-top: 25px

    .create-btn-container
      cursor: pointer

      &:hover
        background-color: #e7e7e7

      button
        font-size: 18px
        &:hover
          text-decoration: none