$tablet-resolution: 768px
$small-resolution: 375px
$iphone5-resolution: 325px
$sidebar-visibility-width: 1300px

$inputs-width: 500px
$input-font-size: 18px
$input-small-font-size: 16px

$tree-view-node-height: 95px
$header-height: 50px

$error-color: #a94442
$warning-color: #f0ad4e
$border-color: #e0e0e0
$gray-color: #979797
$item-selection-color: #f9f9f9
$green-color: #05CA85
$green-color-rgba: rgba(5, 202, 133, .3)
$readonly-hover-color: #f5f5f5

$transition-for-background: background-color ease-in-out .1s
$inner-shadow-for-input: inset 0 1px 1px rgba(0, 0, 0, .075)

@mixin responsive-font-size
  font-size: $input-font-size
  @media screen and (max-width: $tablet-resolution)
    font-size: $input-small-font-size

@mixin responsive-title-font-size
  font-size: 25px
  @media screen and (max-width: $tablet-resolution)
    font-size: 18px
