<div class="profile-container page-container">
    <div>
        <div class="profile-management">
            <user-profile [user]="user">
            </user-profile>

            <change-password *ngIf="isChangePasswordMode"
                             (cancel)="setChangePasswordMode(false)"
                             (success)="setChangePasswordMode(false)">
            </change-password>
        </div>

        <button *ngIf="!isChangePasswordMode"
                type="button"
                class="btn btn-primary btn-block change-password-button"
                (click)="setChangePasswordMode(true)">
            Change password
        </button>

    </div>
</div>
