<div class="profile-container">
    <div class="row">
        <div class="col-md-4 col-sm-2 col-xs-1"></div>
        <div class="col-md-4 col-sm-8 col-xs-10">
            <div class="profile-management">
                <user-profile [user]="user">
                </user-profile>

                <change-password *ngIf="isChangePasswordMode"
                                 [user]="user"
                                 (cancel)="setChangePasswordMode(false)">
                </change-password>
            </div>
            <button *ngIf="!isChangePasswordMode"
                    type="button"
                    class="btn btn-primary btn-block change-password-button"
                    (click)="setChangePasswordMode(true)">
                Change password
            </button>

        </div>
        <div class="col-md-4 col-sm-12 col-xs-1"></div>
    </div>
</div>
