<div class="edit-node-form">

    <div class="inputs-container">
        <div *ngIf="isInputInvalid()" class="message validation-error">
            {{getValidationMessage()}}
        </div>
        <input id="nodeName"
               type="text"
               [placeholder]="getNameInputPlaceholder()"
               [(ngModel)]="nodeData.name"
               (ngModelChange)="validateForm()"
               class="form-control node-name">

        <div *ngIf="createContentMode">
            <input id="contentShortName"
                   type="text"
                   [placeholder]="'Short name'"
                   [(ngModel)]="nodeData.content.short_name"
                   (ngModelChange)="validateForm()"
                   class="form-control node-name content-input"
                   autofocus>

            <input id="contentUrl"
                   type="text"
                   [placeholder]="'Content URL'"
                   [(ngModel)]="nodeData.content.url"
                   (ngModelChange)="validateForm()"
                   class="form-control node-name content-input">

        </div>

        <div *ngIf="!createContentMode" class="autocomplete-container">
            <content-autocomplete
                    [value]="getDropdownValue()"
                    [content]="content"
                    (select)="setNodeContent($event)"
                    (add)="add($event)">
            </content-autocomplete>
        </div>
    </div>

    <div class="buttons-container">
        <button type="button"
                class="btn btn-success"
                [disabled]="!isFormValid"
                (click)="performSubmit($event)">
            Save
        </button>

        <button type="button"
                class="btn btn-link cancel-button"
                (click)="performCancel($event)">
            Cancel
        </button>
    </div>
</div>