$small-resolution: 500px
$inputs-width: 500px

.edit-node-form
  display: flex
  flex-direction: row
  width: 100%

  .inputs-container
    margin-top: -20px
    width: $inputs-width

    @media screen and (max-width: $small-resolution)
      width: 150%
      float: right

    input
      font-size: 18px

    .content-input
      margin-top: 10px

    .validation-error
      margin-top: -16px

    .autocomplete-container
      position: absolute
      margin-top: 10px

  .buttons-container
    margin-left: auto