<div class="form-container">

    <div class="inputs-container">
        <div [class.has-error]="showValidationMessageForNodeName()">
            <div *ngIf="showValidationMessageForNodeName()"
                 class="message validation-error">
                {{getValidationMessageForNodeName()}}
            </div>
            <input id="nodeName"
                   type="text"
                   [placeholder]="getNameInputPlaceholder()"
                   [(ngModel)]="nodeData.name"
                   (ngModelChange)="validateForm()"
                   class="form-control node-name"
                   input-autofocus>
        </div>

        <div *ngIf="createContentMode">
            <div class="input-block" [class.has-error]="showValidationMassageForShortName()">
                <div *ngIf="showValidationMassageForShortName()"
                     class="message validation-error">
                    {{getValidationMessageForContentShortName()}}
                </div>
                <input id="contentShortName"
                       type="text"
                       [placeholder]="'Content short name'"
                       [(ngModel)]="nodeData.content.short_name"
                       (ngModelChange)="validateForm()"
                       class="form-control node-name content-input"
                       input-autofocus>
            </div>

            <div class="input-block" [class.has-error]="showValidationMessageForUrl()">
                <div *ngIf="showValidationMessageForUrl()"
                     class="message validation-error">
                    {{getValidationMessageForContentUrl()}}
                </div>
                <input id="contentUrl"
                       type="text"
                       [placeholder]="'Content URL'"
                       [(ngModel)]="nodeData.content.url"
                       (ngModelChange)="validateForm()"
                       class="form-control node-name content-input">
            </div>
        </div>

        <div *ngIf="isAbleToSetUrl()" class="autocomplete-container">
            <content-autocomplete
                    [value]="getDropdownValue()"
                    [content]="content"
                    (select)="setNodeContent($event)"
                    (add)="enableCreateContentMode($event)">
            </content-autocomplete>
        </div>

        <div *ngIf="!currentSetting" class="info-message">
            Select setting before setup content URL
        </div>
    </div>

    <div class="buttons-container">
        <button type="button"
                class="btn btn-success"
                [disabled]="!isFormValid"
                (click)="performSubmit($event)">
            Save
        </button>

        <button type="button"
                class="btn btn-link cancel-button"
                (click)="performCancel($event)">
            Cancel
        </button>
    </div>
</div>