$small-resolution: 500px
$inputs-width: 500px
$error-color: #a94442

.edit-node-form
  display: flex
  flex-direction: row
  width: 100%

  .inputs-container
    margin-top: -20px
    width: $inputs-width

    @media screen and (max-width: $small-resolution)
      width: 150%
      float: right

    .input-block
      margin-top: 25px

    input
      font-size: 18px

    .validation-error
      margin-top: -16px

    .autocomplete-container
      position: absolute
      margin-top: 10px

  .buttons-container
    margin-left: auto