<div class="schedule-container">
    <material-datepicker
            class="datepicker"
            [(date)]="eventTime.date"
            dateFormat="MM-DD-YYYY">
    </material-datepicker>

    <div class="time-selector-container">
        <div class="time-selector">
            <autocomplete
                    class="time"
                    [placeholder]="'Select time'"
                    [items]="timeItems"
                    [value]="eventTime.startTime"
                    (valueChanged)="setTime('startTime', $event)">
            </autocomplete>

            <autocomplete
                    class="period"
                    [items]="timePeriods"
                    [value]="eventTime.startTimePeriod"
                    (valueChanged)="setTime('startTimePeriod', $event)">
            </autocomplete>
        </div>

        <div class="time-selector">
            <autocomplete
                    class="time"
                    [placeholder]="'Select time'"
                    [items]="timeItems"
                    [value]="eventTime.endTime"
                    (valueChanged)="setTime('endTime', $event)">
            </autocomplete>

            <autocomplete
                    class="period"
                    [items]="timePeriods"
                    [value]="eventTime.endTimePeriod"
                    (valueChanged)="setTime('endTimePeriod', $event)">
            </autocomplete>
        </div>
    </div>

    <div class="buttons-container">
        <button class="btn btn-success" (click)="performSubmit()">Save</button>
        <button class="btn btn-link" (click)="performCancel()">Cancel</button>
    </div>
</div>