<div class="schedules-container">

    <div *ngIf="showAddScheduleButton()"
         class="add-button"
         (click)="showCreateScheduleForm()">
        <span class="plus-button"></span>
        <span class="button-title">Add new schedule</span>
    </div>

    <div *ngIf="isShowCreateScheduleForm">
        <single-schedule
                [currentSetting]="currentSetting"
                (cancel)="hideCreateScheduleForm()">
        </single-schedule>
    </div>

    <div class="schedules" *ngFor="let schedule of filteredSchedules">
        <div class="setting-name">
            {{findSettingForSchedule(schedule).name}}
        </div>
        <single-schedule
                [schedule]="schedule"
                [editable]="isEditable()"
                (scheduleChanged)="loadSchedules()">
        </single-schedule>
    </div>
</div>