@import "../../styles/variables"
.container-fluid
  display: flex !important
  justify-content: center !important

  .navbar-header
    width: auto

@media screen and (max-width: $sidebar-visibility-width)
  .navbar-toggle
    float: none
