@import "../../styles/variables"

$hover-color: #555

.small-screen
  display: none

.router-links
  display: inline-block

.link
  display: inline-block
  padding: 15px

  &.sign-out-button
    padding-right: 8px

  &:focus
    outline: 0

  a
    color: $hover-color

  &:hover
    cursor: pointer

    a
      color: $hover-color

  &.active
    background-color: #e7e7e7

  a
    text-decoration: none
    color: #777

.pull-right
  display: flex
  align-items: center

  .sign-out-block
    display: flex
    align-items: center

    .sign-out
      display: inline-block
      height: 20px
      margin-right: 20px
      cursor: pointer

@media screen and (max-width: $tablet-resolution)
  .large-screen
    display: none

  .small-screen
    display: block

    .navbar-brand
      font-size: 16px

    .link
      padding: 15px 5px

    .pull-bottom
      display: flex
      justify-content: space-between

    .navbar-toggle
      margin-right: 3px

    .sign-out
      display: inline-block
      height: 32px
      padding-left: 8px
      padding-right: 3px
