<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button *ngIf="isSidebarDisplayed()"
                    type="button"
                    class="navbar-toggle"
                    (click)="toggleSideBar()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">ScreenDriver</a>
            <div class="router-links" *ngIf="!isAuthPage()">
                <div class="link" [routerLinkActive]="['active']"><a routerLink="/content" routerLinkActive="active">Content</a></div>
                <div class="link" [routerLinkActive]="['active']"><a routerLink="/users" routerLinkActive="active">Users</a></div>
            </div>

        </div>
    </div>
</nav>
