<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button *ngIf="isSidebarDisplayed()"
                    type="button"
                    class="navbar-toggle"
                    (click)="toggleSideBar()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" routerLink="/">ScreenDriver</a>

            <div class="router-links" *ngIf="isUserAdmin()">
                <div class="link"
                     *ngFor="let link of routerLinks"
                     routerLink="{{link.routerLink}}"
                     [routerLinkActive]="['active']">
                    <a routerLinkActive="active">{{link.title}}</a>
                </div>
            </div>

            <div class="pull-right" *ngIf="!isAuthPage()">
                <div routerLink="/profile"
                     class="link"
                     [routerLinkActive]="['active']">
                    <a routerLinkActive="active">{{getUserLogin()}}</a>
                </div>

                <div class="sign-out-block" [routerLinkActive]="['active']" (click)="signOut()">
                    <div class="link sign-out-button">
                        <a>Sign out</a>
                    </div>
                    <div class="sign-out"></div>
                </div>
            </div>
        </div>
    </div>
</nav>
