<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button *ngIf="isSidebarDisplayed()"
                    type="button"
                    class="navbar-toggle"
                    (click)="toggleSideBar()">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">ScreenDriver</a>
            <div class="router-links" *ngIf="isUserAdmin()">
                <div routerLink="/content"
                     class="link"
                     [routerLinkActive]="['active']">
                    <a routerLinkActive="active">Content</a>
                </div>

                <div routerLink="/users"
                     class="link"
                     [routerLinkActive]="['active']">
                    <a routerLinkActive="active">Users</a>
                </div>
            </div>

            <div class="pull-right" *ngIf="!isAuthPage()">
                <div routerLink="/profile"
                     class="link"
                     [routerLinkActive]="['active']">
                    <a routerLinkActive="active">{{getUserLogin()}}</a>
                </div>

                <div class="link" [routerLinkActive]="['active']" (click)="signOut()">
                    <a>Sign out</a>
                </div>
            </div>
        </div>
    </div>
</nav>
