<div class="auth-page-title">
    Reset your password
</div>

<form>
    <label for="email">
        Enter your email address and confirmation code will be sent.
    </label>

    <input [(ngModel)]="email"
           id="email"
           name="email"
           class="form-control"
           type="email"
           placeholder="Email"
           required>

    <button type="submit"
            class="btn btn-success btn-block"
            [disabled]="isRequestPerforming">
        Send password reset email
    </button>

    <div class="option-button-container">
        <button type="button"
                class="btn btn-link"
                routerLink="/auth">
            Cancel
        </button>
    </div>
</form>
