<div class="configurations-container">
    <div>
        <configurations-manager
                [configs]="configs"
                (configSelected)="configSelected($event)">
        </configurations-manager>
    </div>

    <div *ngIf="!creationMode">
        <button class="btn btn-success btn-large" (click)="enableCreationMode()">Create</button>
    </div>

    <div *ngIf="creationMode">
        <configuration-creator
                (created)="handleConfigCreation()"
                (cancel)="disableCreationMode()">
        </configuration-creator>
    </div>
</div>