<div class="container">
    <div class="row">
        <div class="col-md-2 hidden-sm hidden-xs"></div>
        <div class="col-md-8 col-sm-12 col-xm-12">

            <create-user *ngIf="isShowCreateUserForm"
                         (cancel)="showCreateUserForm(false)"
                         (submit)="createUser($event)">
            </create-user>

            <div class="users-list">
                <div *ngIf="!isShowCreateUserForm"
                     class="add-button"
                     (click)="showCreateUserForm(true)">
                    <span class="plus-button"></span>
                    <span class="button-title">Add new user</span>
                </div>

                <users></users>
            </div>
        </div>
        <div class="col-md-2 hidden-sm hidden-xs"></div>
    </div>
</div>
