<div class="create-user-form">
    <div>
        <label for="email">Email address</label>
        <input id="email"
               class="form-control"
               [(ngModel)]="user.email"
               (focusout)="validateEmail()"
               type="email"
               placeholder="Email">
    </div>
    <label *ngIf="isShowEmailValidationError"
           class="email error-message">
        Invalid Email
    </label>
    <div>
        <label for="password">Password</label>
        <input id="password"
               class="form-control"
               [(ngModel)]="user.password"
               (focusout)="validatePassword()"
               type="password"
               placeholder="Password">
    </div>
    <label *ngIf="isShowPasswordValidationError"
           class="password error-message">
        Invalid Password
    </label>

    <div class="control-buttons">
        <button type="button"
                class="btn btn-link"
                (click)="performCancel()">
            Cancel
        </button>
        <button type="button"
                class="btn btn-success"
                (click)="performSubmit()"
                [disabled]="!isCreateButtonDisplayed()">
            Create
        </button>
    </div>
</div>
