<div class="create-user-form">
    <div>
        <label for="email">Email address</label>
        <input id="email"
               class="form-control"
               [(ngModel)]="user.email"
               (focusout)="validateEmail(email)"
               type="email"
               placeholder="Email"
               #email="ngModel">
    </div>
    <label *ngIf="email.invalid"
           class="email error-message">
        {{getValidationMessage(email)}}
    </label>
    <div class="is-admin">
        <toggle-button [title]="'Has admin access?'"
                       (changed)="setUserRole($event)">
        </toggle-button>
    </div>

    <div class="control-buttons">
        <button type="button"
                class="btn btn-link"
                (click)="performCancel()">
            Cancel
        </button>
        <button type="button"
                class="btn btn-success"
                (click)="performSubmit()"
                [disabled]="!isCreateButtonDisplayed() || email.invalid">
            Create
        </button>
    </div>
</div>
