<div class="create-user-form">
    <div>
        <label for="email">Email address</label>
        <input id="email"
               class="form-control"
               type="email"
               placeholder="Email">
    </div>

    <div>
        <label for="password">Password</label>
        <input id="password"
               class="form-control"
               type="password"
               placeholder="Password">
    </div>

    <div class="control-buttons">
        <button type="button"
                class="btn btn-link">
            Cancel
        </button>
        <button type="button"
                class="btn btn-success">
            Create
        </button>
    </div>
</div>
