<div class="schedule-container">

    <div *ngIf="validationResult.validationMessage" class="error-message validation-error">
        {{validationResult.validationMessage}}
    </div>

    <div class="schedule-form-container">

        <div class="datepicker-container">
            <div class="title">
                Start event date:
            </div>
            <material-datepicker
                    class="datepicker"
                    [(date)]="eventTime.startDate"
                    (onSelect)="onStartDateSelect()"
                    dateFormat="MM-DD-YYYY">
            </material-datepicker>

            <div class="title">
                End event date:
            </div>
            <material-datepicker
                    class="datepicker"
                    [(date)]="eventTime.endDate"
                    (onSelect)="onEndDateSelect()"
                    dateFormat="MM-DD-YYYY">
            </material-datepicker>
        </div>

        <div class="time-selector-container">
            <div class="title">
                Start event time:
            </div>
            <div class="time-selector">
                <autocomplete
                        class="time"
                        [placeholder]="'Select time'"
                        [readonly]="true"
                        [items]="timeItems"
                        [value]="eventTime.startTime"
                        (valueChanged)="setTime('startTime', $event)">
                </autocomplete>

                <autocomplete
                        class="period"
                        [readonly]="true"
                        [items]="timePeriods"
                        [value]="eventTime.startTimePeriod"
                        (valueChanged)="setTime('startTimePeriod', $event)">
                </autocomplete>
            </div>

            <div class="title">
                End event time:
            </div>
            <div class="time-selector">
                <autocomplete
                        class="time"
                        [placeholder]="'Select time'"
                        [readonly]="true"
                        [items]="timeItems"
                        [value]="eventTime.endTime"
                        (valueChanged)="setTime('endTime', $event)">
                </autocomplete>

                <autocomplete
                        class="period"
                        [readonly]="true"
                        [items]="timePeriods"
                        [value]="eventTime.endTimePeriod"
                        (valueChanged)="setTime('endTimePeriod', $event)">
                </autocomplete>
            </div>
        </div>

    </div>

    <div *ngIf="isCreationMode()" class="buttons-container">
        <button class="btn btn-success"
                (click)="performCreatingSubmit()"
                [disabled]="!validationResult.isValid">
            Create
        </button>
    </div>

    <div *ngIf="isEditMode()" class="buttons-container">
        <button class="btn btn-success"
                (click)="performUpdatingSubmit()"
                [disabled]="!validationResult.isValid">
            Save
        </button>

        <button class="btn btn-link"
                (click)="performCancel()">
            Cancel
        </button>
    </div>
</div>