@import "../../../styles/variables"

.schedule-container
  display: flex
  flex-direction: column
  justify-content: center
  margin: 30px 0 30px 0

  .message
    margin: -22px 0 0
    text-align: center
    font-size: 16px

  .header-message
    font-weight: bold

  .remove-schedule-container
    margin: auto

    .remove-button
      height: 30px
      cursor: pointer

  .schedule-form-container
    display: flex
    justify-content: center
    margin-bottom: 50px

    @media screen and (max-width: $tablet-resolution)
      flex-direction: column
      padding-bottom: 15px

    .title
      margin-top: 10px
      font-size: 16px
      font-weight: bold

    .datepicker-container, .schedule-type-container, .days-of-week-container
      margin: 0 15px 10px 0

    .time-selector-container
      margin-bottom: 10px

      @media screen and (min-width: $tablet-resolution)
        max-width: 200px

      .time-selector
        display: flex

        autocomplete
          margin-right: 8px

        .time
          flex: 5

        .period
          flex: 2

  .buttons-container
    margin: -50px 0 15px auto

    .remove-item-block
      .btn
        margin-right: 10px

      .message
        display: inline-block
        padding-right: 10px

.separator
  border-bottom: 1px solid $border-color
