<div class="schedule-container">

    <div *ngIf="validationResult.validationMessage" class="validation-error message">
        {{validationResult.validationMessage}}
    </div>

    <div *ngIf="isCreationMode() && !validationResult.validationMessage" class="message header-message">
        Create new schedule
    </div>

    <div class="schedule-form-container">
        <div class="change-state-container">
            <div class="title" *ngIf="schedule">
                <toggle-button class="change-state-button"
                               [enabled]="schedule.enabled"
                               [disabled]="!editable || isEditMode()"
                               (changed)="changeScheduleState($event)">
                </toggle-button>
            </div>
        </div>

        <div *ngIf="eventTime.periodicity === scheduleTypes.REPEATABLE"
             class="days-of-week-container">

            <div class="title">
                Days of week:
            </div>

            <days-of-week-multiselector
                    [selectedDays]="getDaysOfWeek()"
                    [editMode]="editable"
                    (select)="setDaysOfWeek($event)">
            </days-of-week-multiselector>
        </div>

        <div *ngIf="eventTime.periodicity === scheduleTypes.ONE_TIME"
             class="datepicker-container">

            <div class="title">
                Start date:
            </div>
            <material-datepicker
                    class="datepicker"
                    [disabled]="!editable"
                    [(date)]="eventTime.startDate"
                    (onSelect)="onStartDateSelect()"
                    dateFormat="MM-DD-YYYY">
            </material-datepicker>

            <div class="title">
                End event date:
            </div>
            <material-datepicker
                    class="datepicker"
                    [disabled]="!editable"
                    [(date)]="eventTime.endDate"
                    (onSelect)="onEndDateSelect()"
                    dateFormat="MM-DD-YYYY">
            </material-datepicker>
        </div>

        <div class="time-selector-container">
            <div class="title">
                Start time:
            </div>
            <div class="time-selector">
                <autocomplete
                        class="time"
                        [placeholder]="'Select time'"
                        [editable]="true"
                        [disabled]="!editable"
                        [items]="timeItems"
                        [value]="eventTime.startTime"
                        (valueChanged)="setTime('startTime', $event)">
                </autocomplete>

                <autocomplete
                        class="period"
                        [editable]="true"
                        [disabled]="!editable"
                        [items]="timePeriods"
                        [value]="eventTime.startTimePeriod"
                        (valueChanged)="setTime('startTimePeriod', $event)">
                </autocomplete>
            </div>

            <div class="title">
                End time:
            </div>
            <div class="time-selector">
                <autocomplete
                        class="time"
                        [placeholder]="'Select time'"
                        [editable]="true"
                        [disabled]="!editable"
                        [items]="timeItems"
                        [value]="eventTime.endTime"
                        (valueChanged)="setTime('endTime', $event)">
                </autocomplete>

                <autocomplete
                        class="period"
                        [editable]="true"
                        [disabled]="!editable"
                        [items]="timePeriods"
                        [value]="eventTime.endTimePeriod"
                        (valueChanged)="setTime('endTimePeriod', $event)">
                </autocomplete>
            </div>
        </div>

        <div *ngIf="!isCreationMode()"
             class="remove-schedule-container">
            <div class="remove-button"
                 (click)="setRemovingMode(true)">
            </div>
        </div>

    </div>


    <div class="buttons-container">
        <div class="remove-item-block"
             *ngIf="!isEditMode() && removingMode">
            <div class="message">Are you sure you want to remove this schedule?</div>
            <button type="button"
                    class="btn btn-danger yes-option"
                    (click)="removeSchedule()">
                Yes
            </button>

            <button type="button"
                    class="btn btn-success"
                    (click)="setRemovingMode(false)">
                No
            </button>
        </div>

        <button *ngIf="isCreationMode()"
                class="btn btn-success"
                (click)="performCreatingSubmit()"
                [disabled]="!validationResult.isValid">
            Create
        </button>

        <button *ngIf="isEditMode() && !removingMode"
                class="btn btn-success"
                (click)="performUpdatingSubmit()"
                [disabled]="!validationResult.isValid">
            Save
        </button>

        <button *ngIf="isEditMode() || isCreationMode() && !removingMode"
                class="btn btn-link"
                (click)="performCancel()">
            Cancel
        </button>
    </div>
</div>
<div class="separator"></div>
