<div class="settings-group-container">

    <div class="group-header">
        <div class="title">
            <b>{{priorityType.name}}</b>
        </div>
        <div class="plus-button add-button"
             (click)="enableCreationMode(priorityType)"
             title="Add new setting">
        </div>
    </div>

    <li *ngFor="let setting of settings" [class.active]="isActive(setting)">
        <single-setting
                [setting]="setting"
                [activeSetting]="activeSetting"
                (update)="handleSettingUpdate()"
                (click)="onSettingSelection(setting)">
        </single-setting>
    </li>
</div>
