<div class="time-selector-container">
    <div *ngIf="label"
         class="title">
        {{label}}
    </div>
    <div class="time-selector">
        <autocomplete
                class="time"
                [placeholder]="'Select time'"
                [editable]="true"
                [items]="timeItems"
                [value]="defaultTime"
                (valueChanged)="setTime($event)">
        </autocomplete>

        <div class="period"
             (click)="changeTimePeriod()">
            {{defaultTimePeriod}}
        </div>
    </div>
</div>
