<div class="page-container">
    <div class="header">
        <div class="page-title">
            Venues
        </div>
        <div *ngIf="!isShowAddVenueForm" class="plus-button add-button" (click)="showAddVenueForm()"></div>
    </div>

    <add-venue-form
            *ngIf="isShowAddVenueForm"
            [venues]="venues"
            [content]="contentListForDropdown"
            (cancel)="hideAddVenueForm()"
            (submit)="addVenue($event)">
    </add-venue-form>
    <venues-tree-view
            [venues]="venuesTree"
            [content]="contentListForDropdown"
            (update)="updateVenue($event)">
    </venues-tree-view>
</div>