<div class="page-container row">
    <div class="col-md-4 col-sm-3"></div>
    <div class="col-md-4 col-sm-6">
        <div class="header">
            <div class="page-title">
                Venues
            </div>
            <div *ngIf="!isShowAddVenueForm" class="plus-button add-button" (click)="showAddVenueForm()"></div>
        </div>

        <div class="form-container" *ngIf="isShowAddVenueForm">
            <add-venue-form
                    [venues]="venues"
                    [content]="contentListForDropdown"
                    (cancel)="hideAddVenueForm()"
                    (submit)="addVenue($event)">
            </add-venue-form>
        </div>

        <venues-tree-view
                [venues]="venuesTree"
                [content]="contentListForDropdown"
                (update)="updateVenue($event)">
        </venues-tree-view>
    </div>
    <div class="col-md-4 col-sm-3"></div>
</div>