<div class="schedule-container">

    <div *ngIf="validationResult.validationMessage" class="validation-error message">
        {{validationResult.validationMessage}}
    </div>

    <div *ngIf="isCreationMode() && !validationResult.validationMessage" class="message header-message">
        Create new schedule
    </div>

    <div class="control-buttons">
        <toggle-button *ngIf="schedule"
                       class="change-state-button small-screen"
                       [checked]="schedule.enabled"
                       [disabled]="isEditMode()"
                       (changed)="changeScheduleState($event)">
        </toggle-button>
        <div *ngIf="!isCreationMode()"
             class="remove-schedule-container small-screen">
            <div class="remove-button"
                 (click)="setRemovingMode(true)">
            </div>
        </div>
    </div>

    <div class="schedule-form-container">
        <div class="change-state-container large-screen">
            <toggle-button *ngIf="schedule"
                           class="change-state-button"
                           [checked]="schedule.enabled"
                           [disabled]="isEditMode()"
                           (changed)="changeScheduleState($event)">
            </toggle-button>
        </div>


        <div *ngIf="eventTime.periodicity === scheduleTypes.REPEATABLE"
             class="days-of-week-container">

            <div class="title">
              <div>Days of week:</div>

              <div>
                <button (click)="toggleWeek()"
                        class="btn btn-sm"
                        [ngClass]="{'active': isAllWeekDaysSelected()}">
                      All
                </button>
              </div>
            </div>

            <div class="day-of-week">
                <days-of-week-multiselector
                                            [selectedDays]="getDaysOfWeek()"
                                            [editMode]="true"
                                            (select)="setDaysOfWeek($event)">
                </days-of-week-multiselector>
            </div>
        </div>

        <div *ngIf="eventTime.periodicity === scheduleTypes.ONE_TIME"
             class="datepicker-container">

            <div class="title">
                Start date:
            </div>
            <material-datepicker
                    class="datepicker"
                    [(date)]="eventTime.startDate"
                    (onSelect)="onStartDateSelect()"
                    dateFormat="MM-DD-YYYY">
            </material-datepicker>

            <div class="title">
                End date:
            </div>
            <material-datepicker
                    class="datepicker"
                    [(date)]="eventTime.endDate"
                    (onSelect)="onEndDateSelect()"
                    dateFormat="MM-DD-YYYY">
            </material-datepicker>
        </div>

        <div class="time-selector-container">
            <time-selector [label]="'Start time:'"
                           [defaultTime]="eventTime.startTime"
                           [defaultTimePeriod]="eventTime.startTimePeriod"
                           (timeChange)="setTime('startTime', $event)"
                           (timePeriodChange)="changeTimePeriod('startTimePeriod')">
            </time-selector>

            <time-selector [label]="'End time:'"
                           [defaultTime]="eventTime.endTime"
                           [defaultTimePeriod]="eventTime.endTimePeriod"
                           (timeChange)="setTime('endTime', $event)"
                           (timePeriodChange)="changeTimePeriod('endTimePeriod')">
            </time-selector>
        </div>

        <div *ngIf="!isCreationMode()"
             class="remove-schedule-container large-screen">
            <div class="remove-button"
                 (click)="setRemovingMode(true)">
            </div>
        </div>
    </div>

    <div class="buttons-container">
        <div class="remove-item-block"
             *ngIf="!isEditMode() && removingMode">
            <div class="message">Are you sure you want to remove this schedule?</div>
            <button type="button"
                    class="btn btn-danger yes-option"
                    (click)="removeSchedule()">
                Yes
            </button>

            <button type="button"
                    class="btn btn-success"
                    (click)="setRemovingMode(false)">
                No
            </button>
        </div>

        <button *ngIf="isCreationMode()"
                class="btn btn-success"
                (click)="performCreatingSubmit()"
                [disabled]="!validationResult.isValid">
            Create
        </button>

        <button *ngIf="isEditMode() && !removingMode"
                class="btn btn-success"
                (click)="performUpdatingSubmit()"
                [disabled]="!validationResult.isValid">
            Save
        </button>

        <button *ngIf="isEditMode() || isCreationMode() && !removingMode"
                class="btn btn-link"
                (click)="performCancel()">
            Cancel
        </button>
    </div>
</div>
<div class="separator"></div>
