<div class="schedule-container">

    <div *ngIf="validationResult.validationMessage" class="validation-error message">
        {{validationResult.validationMessage}}
    </div>

    <div *ngIf="isCreationMode() && !validationResult.validationMessage" class="message header-message">
        Create new schedule
    </div>

    <div class="control-buttons">
        <toggle-button *ngIf="schedule"
                       class="change-state-button small-screen"
                       [checked]="schedule.enabled"
                       [disabled]="isEditMode()"
                       (changed)="changeScheduleState($event)">
        </toggle-button>
        <div *ngIf="!isCreationMode()"
             class="remove-schedule-container small-screen">
            <div class="remove-button"
                 (click)="setRemovingMode(true)">
            </div>
        </div>
    </div>

    <div class="schedule-form-container">
        <div class="change-state-container large-screen">
            <toggle-button *ngIf="schedule"
                           class="change-state-button"
                           [checked]="schedule.enabled"
                           [disabled]="isEditMode()"
                           (changed)="changeScheduleState($event)">
            </toggle-button>
        </div>


        <div *ngIf="eventTimeHolder.isRepeatableEvent()"
             class="days-of-week-container">

            <div class="title">
              <div>Days of week:</div>

              <div>
                <button (click)="toggleWeek()"
                        class="btn btn-sm"
                        [ngClass]="{'active': isAllWeekDaysSelected()}">
                      All
                </button>
              </div>
            </div>

            <div class="day-of-week">
                <days-of-week-multiselector
                        [selectedDays]="getDaysOfWeek()"
                        [editMode]="true"
                        (select)="setDaysOfWeek($event)">
                </days-of-week-multiselector>
            </div>
        </div>

        <div *ngIf="eventTimeHolder.isOneTimeEvent()"
             class="datepicker-container">

            <div class="title">
                Start date:
            </div>

            <material-datepicker
                    class="datepicker"
                    [(date)]="eventTimeHolder.value().startDate"
                    (onSelect)="onStartDateSelect()"
                    dateFormat="MM-DD-YYYY">
            </material-datepicker>

            <div class="title">
                End date:
            </div>

            <material-datepicker
                    class="datepicker"
                    [(date)]="eventTimeHolder.value().endDate"
                    (onSelect)="onEndDateSelect()"
                    dateFormat="MM-DD-YYYY">
            </material-datepicker>
        </div>

        <div class="time-selector-container">
            <time-selector [label]="'Start time:'"
                           [defaultTime]="eventTimeHolder.value().startTime"
                           [defaultTimePeriod]="eventTimeHolder.value().startTimePeriod"
                           (timeChange)="setStartTime($event)"
                           (timePeriodChange)="switchStartTimePeriod()">
            </time-selector>

            <time-selector [label]="'End time:'"
                           [defaultTime]="eventTimeHolder.value().endTime"
                           [defaultTimePeriod]="eventTimeHolder.value().endTimePeriod"
                           (timeChange)="setEndTime($event)"
                           (timePeriodChange)="switchEndTimePeriod()">
            </time-selector>
        </div>

        <div *ngIf="!isCreationMode()"
             class="remove-schedule-container large-screen">
            <div class="remove-button"
                 (click)="setRemovingMode(true)">
            </div>
        </div>
    </div>

    <div class="buttons-container">
        <uniq-entity-spinner #spinner [entity]="schedule" [message]="'Save schedule...'" prefix="schedules"></uniq-entity-spinner>

        <div *ngIf="!spinner.enabled">
            <div class="remove-item-block"
                 *ngIf="!isEditMode() && removingMode">
                <div class="message">Are you sure you want to remove this schedule?</div>
                <button type="button"
                        class="btn btn-danger yes-option"
                        (click)="removeSchedule()">
                    Yes
                </button>

                <button type="button"
                        class="btn btn-success"
                        (click)="setRemovingMode(false)">
                    No
                </button>
            </div>

            <button *ngIf="isCreationMode()"
                    class="btn btn-success"
                    (click)="performCreatingSubmit()"
                    [disabled]="!validationResult.isValid">
                Create
            </button>


            <button *ngIf="isEditMode() && !removingMode"
                    class="btn btn-success"
                    (click)="performUpdatingSubmit()"
                    [disabled]="!validationResult.isValid">
                Save
            </button>

            <button *ngIf="isEditMode() || isCreationMode() && !removingMode"
                    class="btn btn-link"
                    (click)="performCancel()">
                Cancel
            </button>
        </div>
    </div>
</div>
<div class="separator"></div>
