@import "../../../../styles/variables"

.form-container
  display: flex
  flex-direction: row
  align-items: center
  width: 100%

  .inputs-container
    width: $inputs-width
    margin-right: 10px

    @media screen and (max-width: $small-resolution)
      width: 150%
      float: right

    .input-block
      margin-top: 25px

    input
      font-size: $input-font-size

      @media screen and (max-width: $small-resolution)
        font-size: $input-small-font-size

    .validation-error
      margin-top: -16px

    .autocomplete-container
      margin-top: 10px

    .info-message
      margin-top: 15px

  .buttons-container
    display: flex
    align-items: center
    margin-left: auto

    .cancel-button
      padding: 12px

    .remove-button
      display: inline-block
      height: 30px
      margin-right: 10px
      cursor: pointer

    .remove-item-block
      .btn
        margin-right: 10px

        @media screen and (max-width: $tablet-resolution)
          margin-right: 0

          &:first-of-type
            margin-bottom: 10px

  .warning-message
    font-size: 18px