
<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

    <div *ngIf="failMessage"
         class="alert alert-danger">
        {{failMessage}}
    </div>

    <div *ngIf="identityVerificationCodeRequired"
         [class.has-error]="hasError()"
         class="form-group">

        <label class="control-label" for="identity-verification-code">{{identityVerificationFieldLabel}}</label>

        <input formControlName="identityVerificationCode"
               class="form-control"
               id="identity-verification-code"
               type="{{requireEmail ? 'email' : 'password'}}"
               input-autofocus>

        <span *ngIf="hasError(); else emptyRowTemplate"
              class="help-block">
                {{getValidationMessage()}}
        </span>
    </div>

    <confirm-password-fields (formGroup)="initPasswords($event)">
    </confirm-password-fields>

    <button type="submit"
            class="btn btn-success btn-block"
            [disabled]="formInvalid() || isRequestSending()">
        {{submitButton}}
    </button>

    <div *ngIf="allowCancel" class="option-button-container">
        <button type="button"
                class="btn btn-link"
                (click)="performCancel()">
            Cancel
        </button>
    </div>
</form>

<ng-template #emptyRowTemplate>&nbsp;</ng-template>
