body
  background-color: #979797

.auth-container
  margin: 80px auto
  width: 300px
  padding: 30px
  border: 1px solid rgb(216, 222, 226)
  border-radius: 5px

  .inputs div label
    margin-top: 10px

  .auth-form
    width: 250px

    .error-message
      color: red

    .sign-in-button
      margin-top: 15px

  .first-time-login-button
    float: right
    text-align: right
    margin-bottom: 15px
