<div class="auth-container">
    <div class="auth-form">
        <div class="inputs">
            <div>
                <label for="email">Email address</label>
                <input [(ngModel)]="user.email"
                       id="email"
                       class="form-control"
                       type="email"
                       placeholder="Email">
            </div>

            <div *ngIf="!isFirstLoginMode">
                <label for="password">Password</label>
                <input [(ngModel)]="user.password"
                       id="password"
                       class="form-control"
                       type="password"
                       placeholder="Password">
            </div>

            <div *ngIf="isFirstLoginMode">
                <div>
                    <label for="temporary-password">Temporary password</label>
                    <input [(ngModel)]="firstLoginPasswords.password"
                           id="temporary-password"
                           class="form-control"
                           type="password"
                           placeholder="Password">
                </div>
                <div>
                    <label for="new-password">New password</label>
                    <input [(ngModel)]="firstLoginPasswords.newPassword"
                           id="new-password"
                           class="form-control"
                           type="password"
                           placeholder="Password">
                </div>
            </div>

            <button type="button"
                    class="btn btn-link first-time-login-button"
                    (click)="changeFirstLoginMode()">
                {{isFirstLoginMode ? 'Hide' : 'First login?'}}
            </button>


            <div class="error-message"></div>

        </div>
        <button type="button"
                class="btn btn-success btn-block sign-in-button"
                (click)="signIn()">
            Sign in
        </button>
    </div>
</div>
