<div class="row">
  <div class="col-md-4 col-sm-3"></div>
  <div class="col-md-4 col-sm-6">
    <div class="header">
      <div class="page-title">
        Content list
      </div>
      <div class="add-content-button">
        <img src="./../../assets/images/add-circular-outlined-button.png">
      </div>
    </div>
    <hr>
    <div *ngFor="let contentItem of content">
      <content-row [content]="contentItem"></content-row>
    </div>
  </div>
  <div class="col-md-4 col-sm-3"></div>
</div>
