.checkbox-multiselector-container
  .checkbox-element
    cursor: pointer
    display: inline-block
    text-align: center
    width: 40px
    height: 40px

  .active
    border-bottom: 1px #848282 solid
