.sign-in-container
  .inputs div label
    margin-top: 10px

  .auth-form
    width: 250px

    .error-message
      color: red

    .sign-in-button
      margin-top: 15px

  .first-time-login-button
    float: right
    text-align: right
    margin-bottom: 15px

  .alert
    margin-bottom: 0
