body {
    overflow-x: hidden;
}

.header {
    margin-top: 5%;
}

.settings {
    margin-bottom: 5%;
}

#config-load-error {
    color: red;
    font-size: 15px;
}

#save:focus, #cancel:focus, #show-logs:focus, #hide-logs:focus {
    outline: none;
}

.logs-btn {
    margin-left: -11px;
}

.selector-container {
    display: inline-block;
    margin-right: 5px;
}

label {
    display: block;
}

.logs-container {
    margin-top: 25px;
}

#logs {
    display: none;
    border: 1px solid #9b9b9b;
    padding: 8px;
    overflow-y: auto;
    height: 600px;
    font-weight: 300;
}

.error {
    color: red;
}

#hide-logs {
    display: none;
}

.current-setting-container {
    display: flex;
    margin-top: 25px;
    margin-left: -15px;
    font-size: 17px;
}

#current-setting {
    margin-left: 10px;
    font-weight: bold;
}
#current-setting .forcibly {
    margin-left: 3px;
    margin-top: -16px;
    background-color: #f0ad4e;
}

#version {
    font-size: 16px;
    margin-top: -30px;
}
