.tag
  display: inline-block
  font-size: 14px
  padding: 3px 10px
  border-radius: 4px
  color: black

.priority-0
  background-color: #4dd0e1

.priority-1
  background-color: #ffd54f

.priority-2
  background-color: #ffa000
