.tag
  display: inline-block
  font-size: 13px
  padding: 0 10px
  border-radius: 4px

.priority-0
  background-color: #bfd4f2
  color: #337ab7

.priority-1
  background-color: #ffe174
  color: #337ab7

.priority-2
  background-color: #fb8c16
  color: white
