<div class="change-email-container">

    <div *ngIf="errorMessage"
         class="alert alert-danger">
        {{errorMessage}}
    </div>

    <label for="email">New email address</label>
    <input type="text"
           class="form-control"
           [(ngModel)]="editedUser.email"
           id="email"
           input-autofocus>

    <div class="control-buttons">
        <button type="button"
                class="btn btn-success"
                (click)="performSubmit()">
            Save
        </button>
        <button type="button"
                class="btn btn-link"
                (click)="performCancel()">
            Cancel
        </button>
    </div>
</div>
