<div>
    <div class="dropdown">
        <input type="text"
                class="dropdown-toggle form-control"
                placeholder="Content URL"
                [value]="getValue()"
                (focus)="showDropdown()"
                (clickOutside)="handleClickOutside($event)"
                (keypress)="handleFilter()">

        <ul class="dropdown-menu" [class.shown]="isShowDropdown">
            <li *ngFor="let item of data">
                <a (click)="onSelect(item)" class="dropdown-item">
                    <div class="item-value">{{item.short_name}}</div>
                    <div class="item-desc">{{item.url}}</div>
                </a>
            </li>
        </ul>
    </div>
</div>