@import "../../variables"

$dropdown-width: inherit

.dropdown
  width: 100%

  input
    width: $dropdown-width
    font-size: $input-font-size

  .dropdown-menu
    width: $dropdown-width
    max-height: 280px
    overflow-y: auto

    @media screen and (max-width: $tablet-resolution)
      width: auto

    &.shown
      display: block

    li a
      padding: 5px 12px
      min-height: 40px
      line-height: 30px
      font-size: $input-font-size
      overflow: hidden

      .item-desc
        color: gray

      .item-value
        overflow: hidden
        max-width: $dropdown-width
        white-space: nowrap

  .dropdown-footer
    border-top: 1px solid #dfdfdf
    margin-bottom: -5px

    .add-button
      border-radius: 0
      background-color: #f9f9f9

      &:hover
        background-color: #ededed

  .nodata-block
    cursor: default

    .nodata-warning
      font-size: $input-font-size
      height: 50px
      padding-top: 11px
      text-align: center
