$dropdown-width: 400px
$dropdown-font-size: 18px

.k-autocomplete
  width: $dropdown-width
  font-size: $dropdown-font-size
  border: 1px solid #ccc
  border-radius: 4px

.autocomplete-item
  font-size: $dropdown-font-size
  padding: 0 12px
  min-height: 35px
  line-height: 30px
  overflow: hidden

  .item-desc
    color: gray

  .item-value
    overflow: hidden
    white-space: nowrap

.autocomplete-footer
  border-top: 1px solid #dfdfdf

  .add-button
    border-radius: 0
    font-size: $dropdown-font-size
    background-color: #f9f9f9

    &:hover
      background-color: #ededed