$dropdown-width: 400px
$dropdown-font-size: 18px

.dropdown
  .dropdown-menu
    width: $dropdown-width
    max-height: 250px
    overflow-y: auto

    &.shown
      display: block

    li a
      padding: 0 12px
      min-height: 40px
      line-height: 30px
      font-size: $dropdown-font-size
      overflow: hidden

      .item-desc
        color: gray

      .item-value
        overflow: hidden
        max-width: $dropdown-width
        white-space: nowrap

  .dropdown-footer
    border-top: 1px solid #dfdfdf
    margin-bottom: -5px

    .add-button
      border-radius: 0
      background-color: #f9f9f9

      &:hover
        background-color: #ededed

  .nodata-block
    cursor: default

    .nodata-warning
      margin-top: auto
      min-height: 45px
      text-align: center
