<div class="add-new-venue-form-container">
    <div class="form-title">Add new venue</div>

    <input id="venueName"
           type="text"
           [(ngModel)]="newVenue.name"
           (ngModelChange)="validateForm()"
           (keyup.enter)="onSubmit()"
           class="form-control venue-name"
           placeholder="Venue name"
           required>

    <div>
        <button type="button"
                class="btn btn-success"
                [disabled]="!isFormValid"
                (click)="onSubmit()">
            Add
        </button>

        <button type="button"
                class="btn btn-link cancel-button"
                (click)="onCancel()">
            Cancel
        </button>
    </div>
</div>