<table class="table table-striped">
    <tr class="header">
        <th>Email</th>
        <th><span class="pull-right">Is admin</span></th>
        <th class="centered">Controls</th>
    </tr>

    <tr *ngFor="let user of users">
        <th class="email">
            <div>{{user.email}}</div>
        </th>

        <th class="admin">
            <toggle-button [checked]="user.isAdmin"
                           [disabled]="isCurrentUser(user) || !user.enabled"
                           (changed)="changeUserRole(user)"
                           [attr.title]="getToggleHint(user)">
            </toggle-button>
        </th>

        <th class="controls">
            <div *ngIf="!isCurrentUser(user)">
                <div [ngClass]="{locked: !user.enabled, unlocked: user.enabled}"
                     (click)="changeUserStatus(user)"
                     [title]="getChangeUserStatusHint(user)">
                </div>
                <uniq-entity-spinner [entity]="user" prefix="users"></uniq-entity-spinner>
            </div>
        </th>
    </tr>
</table>
