<table class="table table-striped">
    <tr>
        <th>Email</th>
        <th>Is admin</th>
    </tr>

    <tr *ngFor="let user of users">
        <th>{{user.email}}</th>
        <th>
            <toggle-button class="is-admin"
                           [checked]="user.isAdmin"
                           [disabled]="isCurrentUser(user)"
                           (changed)="changeUserRole(user)"
                           [attr.title]="getToggleHint(user)">
            </toggle-button>
        </th>
    </tr>
</table>