@import "../../../styles/variables"

.admin
  toggle-button
    display: inline-block
    float: right

.email
  div
    word-wrap: break-word

.centered
  text-align: center

.pull-right
  text-align: right

.locked
  width: 25px

  &:hover
    cursor: pointer

.unlocked
  @extend .locked

uniq-entity-spinner
  position: absolute
  margin-top: 7px !important

.controls
  text-align: center

  div
    display: flex
    height: 25px
    justify-content: center

@media screen and (max-width: $tablet-resolution)
  tr, th
    display: block

  th
    padding: 10px 6px !important
    max-height: 50px

    &:last-of-type
      border-bottom: 1px solid $border-color

    div
      float: right

  .header
    display: none

  .email:before
    content: 'Email'

  .email

  .admin:before
    content: 'Is admin'

  .controls:before
    content: 'Controls'

  .controls
    text-align: left

