<div class="page-container">
    <div class="venues-container">
        <div class="header">
            <div class="page-title">
                Venues
            </div>
            <div *ngIf="!isShowAddVenueForm"
                 class="plus-button add-button"
                 (click)="showAddVenueForm()"
                 title="Add new venue">
            </div>
        </div>

        <div *ngIf="isShowAddVenueForm" class="add-venue-form">
            <div class="form-title">Add new venue</div>
            <div class="form-container">
                <edit-tree-view-node-form
                        [venues]="venues"
                        [content]="content"
                        [currentNode]="node"
                        contentUrlPlaceholder="Content URL is not specified"
                        (cancel)="hideAddVenueForm()"
                        (createContent)="toggleCreateContentMode($event)">
                </edit-tree-view-node-form>
            </div>
        </div>

        <venues-tree-view
                [venues]="venuesTree"
                [content]="content"
                (update)="loadVenues()"
                (contentChange)="loadContent()">
        </venues-tree-view>
    </div>
</div>