@import "../../variables"

.page-container
  display: flex
  align-items: center
  justify-content: center

  .main-container
    width: 800px

  .disabled
    color: #979797

  .create-setting-container
    .title
      font-size: 25px
      margin-bottom: 20px

  .venues-container

    .selected-setting-container
      padding-bottom: 20px
      margin-bottom: 20px
      border-bottom: solid 1px $border-color
      min-height: 70px

      .setting-header
        display: inline-block
        padding: 4px 8px
        border: 1px solid transparent
        border-radius: 4px
        cursor: text

        &.editable:hover
            border-color: $border-color

        .setting-title
          font-size: 25px
          display: inline-block

        .tag-container
          display: inline-block
          margin-left: 10px

          /deep/ .tag
            font-size: 22px

    .venues-header
      border: none
      padding-bottom: 10px

      .title
        font-size: 21px
        display: inline-block
        padding-left: 8px

    .buttons-container
      display: inline-block

      .edit-button
        width: 25px
        height: 25px
        cursor: pointer
        margin-left: 10px

  .add-venue-form
    margin-bottom: 20px
    padding: 0 8px 0 34px
    border-bottom: solid 1px $border-color

    @media screen and (max-width: $small-resolution)
      padding: 8px 0

    .form-container
      padding-bottom: 20px
      margin-top: 20px

    .form-title
      font-size: 16px
      margin: 10px 0 17px

  .plus-button
    content: url('../../assets/images/add-circular-outlined-button.png')
    float: right
    cursor: pointer