<div class="page-container">
    <div class="venues-container">

        <div class="header">
            <div *ngIf="!isEditSettingMode"
                 class="setting-header"
                 [class.editable]="isAllowToEditSetting()"
                 (click)="activateEditMode()">

                <div class="page-title" [class.disabled]="isSettingDisabled(setting)">
                    {{getPageTitle()}}
                </div>

                <div class="tag-container" *ngIf="isAllowToEditSetting()">
                    <priority-type-tag [setting]="setting"></priority-type-tag>
                </div>

            </div>

            <setting-creator
                    *ngIf="isEditSettingMode"
                    [settings]="settings"
                    [settingToEdit]="setting"
                    (submit)="onSettingEdited()"
                    (cancel)="toggleEditSettingMode()">
            </setting-creator>
        </div>


        <div class="venues-header">
            <div class="title">
                Venues
            </div>
            <div *ngIf="!isShowAddVenueForm"
                 class="plus-button add-button"
                 (click)="showAddVenueForm()"
                 title="Add new venue">
            </div>
        </div>

        <div *ngIf="isShowAddVenueForm" class="add-venue-form">
            <div class="form-title">Add new venue</div>
            <div class="form-container">
                <edit-tree-view-node-form
                        [venues]="venues"
                        [currentSetting]="getCurrentSettingForEditForm()"
                        [settings]="settings"
                        [content]="content"
                        [currentNode]="node"
                        contentUrlPlaceholder="Content URL is not specified"
                        (cancel)="hideAddVenueForm()"
                        (createContent)="toggleCreateContentMode($event)">
                </edit-tree-view-node-form>
            </div>
        </div>

        <venues-tree-view
                [venues]="venuesTree"
                [content]="content"
                (update)="loadVenues()"
                (contentChange)="loadContent()">
        </venues-tree-view>
    </div>
</div>