.page-container
  display: flex
  align-items: center
  justify-content: center

  .venues-container
    width: 800px

  .add-venue-form
    margin: 0 0 20px 0
    padding: 0 8px 0 34px
    border-bottom: solid 1px #eee

    .form-container
      padding-bottom: 20px
      margin-top: 20px

    .form-title
      font-size: 16px
      margin: 10px 0 17px 0

  .plus-button
    content: url('../../assets/images/add-circular-outlined-button.png')
    float: right
    cursor: pointer