<div class="row item-row" [ngClass]="{'selected': isAddModeEnabled}">
  <div class="col-lg-8 col-sm-12">
      <input type="text"
             class="form-control"
             [(ngModel)]="content.short_name"
             placeholder="Short name"
             required>
      <input type="url"
             class="form-control"
             [(ngModel)]="content.url"
             placeholder="URL"
             required>
  </div>
  <div class="col-lg-4 col-xs-12 control-buttons">
      <button type="button"
              class="btn btn-success"
              [disabled]="!isReadyToSave()"
              (click)="save()">Add</button>
      <button type="button"
              class="btn btn-link"
              (click)="closeForm()">Cancel</button>
  </div>
</div>
