    <div class="dropdown">
        <input type="text"
                class="form-control"
                placeholder="Content short name"
                [value]="getValue()"
                (focus)="showDropdown()"
                (clickOutside)="handleClickOutside($event)"
                (click)="click.emit($event)"
                (select)="handleTextSelection($event)"
                (keyup)="handleKeyUp($event)">

        <ul class="dropdown-menu" [class.shown]="isShowDropdown" (click)="click.emit($event)">
            <li *ngFor="let item of data; let last = last">
                <a (click)="onSelect(item)" class="dropdown-item">
                    <div class="item-value">{{item.short_name}}</div>
                    <div class="item-desc">{{getShortUrl(item)}}</div>
                </a>
            </li>
            <li *ngIf="data.length < 1">
                <div class="nodata-block">
                    <div class="nodata-warning">
                        No suggestions
                    </div>
                </div>
            </li>
            <li>
                <div class="dropdown-footer">
                    <button class="btn btn-block btn-lg add-button"
                            (keyup.enter)="emitAddNewEvent()"
                            (click)="emitAddNewEvent($event)">
                        Add new content URL
                    </button>
                </div>
            </li>
        </ul>
    </div>