<div class="create-setting-corm-container" [class.has-error]="!isInputValid">
    <div *ngIf="!isInputValid"
         class="message validation-error">
        Setting with such name already exists
    </div>

    <input type="text"
           class="form-control"
           [(ngModel)]="setting.name"
           placeholder="Setting name"
           (ngModelChange)="validateSettingName()"
           input-autofocus>

    <div class="setting-type-dropdown">
        <dropdown
                [items]="priorityTypes"
                (select)="prioritySelected($event)">
        </dropdown>
    </div>

    <div class="btn-container">
        <button class="btn btn-link" (click)="performCancel()">Cancel</button>
        <button class="btn btn-success" (click)="performSubmit()" [disabled]="!isButtonEnabled()">Create</button>
    </div>
</div>