@import "variables"

body
  margin: 0 15px 45px

  .notifications-container
    line-height: 50px !important

    .notification
      font-size: 16px !important

  .header
    padding: 0 0 20px 5px
    margin-bottom: 20px
    border-bottom: solid 1px #eee

    .page-title
      font-size: 25px
      display: inline-block

    .add-button
      display: inline-block
      float: right
      cursor: pointer

  .navbar-default
    margin: 0 -15px 20px -15px

  .tree
    margin-bottom: 170px

    .node-wrapper
      padding-left: 5px !important
      align-items: center !important

      &:hover
        background: #f9f9f9

      .node-content-wrapper
        width: 100%
        padding: 5px 8px !important

        &:hover
          background: none !important
          box-shadow: none !important

  .toggle-children-wrapper
    height: $tree-view-node-height
    display: flex
    align-items: center
    padding-top: 5px !important

    .toggle-children
      height: 17px !important
      width: 17px !important
      background-image: url('assets/images/expand-arrow.png') !important

  .validation-error
    color: $error-color
    font-size: 13px

  .btn
    &.btn-link:focus
      outline: none

  .container-fluid
    display: flex !important
    justify-content: center !important

    .navbar-header
      width: 800px
      padding-left: 3px
