<div class="sidebar sidebar-left sidebar-animate sidebar-md-show" [class.active]="showSidebar">

    <div class="side-bar-title">
        <div>Settings</div>

        <div class="plus-button add-button"
             (click)="enableCreationMode()"
             title="Add new setting">
        </div>
    </div>

    <ul class="nav navbar-stacked settings-list scrollable">
        <li *ngFor="let setting of settings" [class.active]="isActive(setting)">
            <a (click)="onSettingSelection(setting)">
                <div>
                    {{setting.name}}
                    <priority-type-tag [setting]="setting"></priority-type-tag>
                </div>
                <toggle-button class="switcher"
                               [enabled]="setting.enabled"
                               (changed)="changeSettingState(setting, $event)"
                               (click)="onToggleClick($event)">
                </toggle-button>
            </a>
        </li>
    </ul>

    <div class="settings-list-footer">
        <a class="default-button" (click)="showCurrentState()">Show merged setting</a>
        <span class="enabled"
              [ngClass]="{'warning': getEnabledSettingsCount() == 0}">
            {{getEnabledSettingsCount()}} enabled
        </span>
    </div>

</div>