<div class="sidebar sidebar-left sidebar-animate sidebar-md-show" [class.active]="showSidebar">

    <div class="side-bar-title">Settings</div>

    <hr>

    <ul class="nav navbar-stacked">

        <li [class.active]="!isAnyActive()">
            <a class="default-button" (click)="showCurrentState()">Actual</a>
        </li>

        <li *ngFor="let setting of settings" [class.active]="isActive(setting)">
            <a (click)="onSettingSelection(setting)">
                <div>
                    {{setting.name}}
                    <priority-type-tag [setting]="setting"></priority-type-tag>
                </div>
                <toggle-button class="switcher"
                               [enabled]="setting.enabled"
                               (changed)="changeSettingState(setting, $event)"
                               (click)="onToggleClick($event)">
                </toggle-button>
            </a>
        </li>
    </ul>

    <hr>

    <div *ngIf="!creationMode" class="create-btn-container" (click)="enableCreationMode()">
        <button class="btn btn-link">Create new setting</button>
    </div>

    <div class="form-container">

        <div *ngIf="creationMode">
            <setting-creator
                    [settings]="settings"
                    (submitted)="handleSettingCreation()"
                    (cancel)="disableCreationMode()">
            </setting-creator>
        </div>
    </div>
</div>