<div class="sidebar sidebar-left sidebar-animate sidebar-md-show" [class.active]="showSidebar">

    <div class="side-bar-title">
        <div>Settings</div>
    </div>

    <ul class="nav navbar-stacked settings-list scrollable">
        <settings-group *ngFor="let type of getPriorityTypes()"
                        [priorityType]="type"
                        [settings]="getSettingsForType(type)"
                        [activeSetting]="activeSetting"
                        (settingUpdate)="handleUpdateSettingResponse()"
                        (settingSelect)="onSettingSelection($event)">
        </settings-group>
    </ul>

    <div class="settings-list-footer">
        <a class="default-button" (click)="showCurrentState()">Show merged setting</a>
        <span class="enabled"
              [ngClass]="{'warning': getEnabledSettingsCount() == 0}">
            {{getEnabledSettingsCount()}} enabled
        </span>
    </div>

</div>