@import "../../../variables"

$list-background-color: #f5f5f5

.sidebar
  font-size: 18px
  position: fixed
  display: block
  top: 51px
  bottom: 0
  z-index: 1000
  overflow: hidden
  padding: 10px 0
  background-color: #f5f5f5
  width: 250px

  @media screen and (min-width: 1550px)
    width: 350px

  @media screen and (max-width: $sidebar-visibility-width)
    display: none
    margin-left: -5px
    width: 350px

  @media screen and (max-width: $tablet-resolution)
    width: 100%

  &.active
    display: block

  .scrollable
    overflow-y: auto
    height: 80%

  .settings-list
    border-color: $border-color
    border-style: solid
    border-width: 1px 0
    margin: 20px 0 0
    background: linear-gradient($list-background-color 30%, hsla(0, 0%, 100%, 0)), linear-gradient(hsla(0, 0%, 100%, 0) 10px, $list-background-color 70%) bottom, radial-gradient(at top, rgba(0, 0, 0, 0.2), transparent 70%), radial-gradient(at bottom, rgba(0,0,0,0.2), transparent 70%) bottom
    background-repeat: no-repeat
    background-size: 100% 20px, 100% 20px, 100% 10px, 100% 10px
    background-attachment: local, local, scroll, scroll

  .side-bar-title
    display: flex
    align-items: center
    padding: 10px 0 0 15px

    .plus-button
      margin: 0 15px 0 auto
      content: url('../../../assets/images/add-circular-outlined-button.png')
      cursor: pointer

  ul
    li
      cursor: pointer

      &.active
        background-color: #ffffff

    a
      display: flex
      align-items: center

      &:hover
        background-color: #ffffff

      &.default-button
        font-weight: bold

      .switcher
        margin: 5px 0 0 auto
        display: inline-block